fastapi
uvicorn[standard]
pydantic
sentence-transformers
markdown
beautifulsoup4
python-multipart
python-docx
python-pptx
openpyxl
httpx
openai
python-jose[cryptography]
cachetools
langid
pip_system_certs
numpy
pinecone
PyMuPDF
filelock
FlagEmbedding
psycopg2-binary
python-dotenv
requests
